<table>
  <tbody>
  <tr>
    <th>Notification Default Address</th>
    <td>
      <input type="text" id="settings_task_report_send_notifications_to"
             value="<%= settings['task_report_send_notifications_to'] %>"
             name="settings[task_report_send_notifications_to]" >
    </td>
  </tr>
  </tbody>
</table>